<!DOCTYPE html>
<html ng-app="app" lang="pt-br">
<head>
  <base href="/">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <title>MyApp</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-resource.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.0/ui-bootstrap-tpls.min.js"></script>
  <script src="app.js"></script>
  
  <script>
    angular.module("app").value("canAdd", @ViewBag.CanAdd);
    angular.module("app").value("canRemove", @ViewBag.CanRemove);
  </script>
</head>
<body>
  <a href="/account/signout" target="_self">sign out</a>
  <ng-view></ng-view>
</body>
</html>